.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.caja {
  background-color: rgba(37, 37, 37, 0.921);
  transition: background-color 0.5s linear, transform 0.3s ease;
  width: 4rem;
  height: 4rem;
  color: rgb(71, 147, 147);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-family: Arial;
  border-radius: 25%;
  padding: 1rem;
}

.caja:hover {
  transform: translateY(-5px);
}

/* Estilos específicos para cada caja */
.caja1 {
  background-color: #df2935;
  color: rgb(247, 247, 247);
}

.caja1:hover {
  background-image: url('../resources/illustration-of-book-icon-free-vector.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  & span {
    display: none;
  }
}

.caja2 {
  background-color: #6abea7;
  color: rgb(247, 247, 247);
}

.caja2:hover {
  background-image: url('../resources/pila_de_libros.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  & span {
    display: none;
  }
}

.caja3 {
  background-color: rgba(246, 68, 157, 0.921);
  color: rgb(247, 247, 247);
}

.caja3:hover {
  background-image: url('../resources/lapiz.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  & span {
    display: none;
  }
}

.caja4 {
  background-color: #2e5eaa;
  color: rgb(247, 247, 247);
}

.caja4:hover {
  background-image: url('../resources/interactuar.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  & span {
    display: none;
  }
}

.caja5 {
  /* background-color: #ffc300; */
  background-color: #ff9500;
  color: rgb(247, 247, 247);
}

.caja5:hover {
  background-image: url('../resources/medalla.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  & span {
    display: none;
  }
}

.caja6 {
  background-color: #e29578;
  color: rgb(247, 247, 247);
}

.caja6:hover {
  background-image: url('../resources/birrete.png');
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;

  & span {
    display: none;
  }
}

.selected {
  background: linear-gradient(to top left, #6a3093, #a044ff);
  box-shadow: 0px 0px 50px 7px #6a3093;
}
